
.products{
    padding: 137px 0px 94px 0px;
    /* display: none; */
}
.con-pro{
    display: flex;
    justify-content: space-between;
}
.nav-product{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.menu-pro{
    display: flex;
    list-style: none;
    padding: 0;
   
    

}
.menu-it{
    margin-left: 30px;
}
.menu-it .items
{
    text-decoration: none;
    font-size: 14px;
    font-family: "Poppins-Regular";
    text-transform: capitalize;
    color: #868686;
}
.menu-it {
    position: relative;
}
.menu-pro .menu-it .items::before {
    content: '';
    position: absolute;
    bottom: -27px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transform-origin: right;
    transition: all 0.2s linear;
    top:20px;
    margin-top: 10px;
    


}
.menu-pro .menu-it:hover .items::before {
    left: 0;
    width: 100%;
    transform-origin: left;
    transition: all 0.3s linear;
    top:20px


}
.menu-it .items.active{
    color: #000000;

}
.menu-it .items.active::before{
    left: 0;
    width: 100%;
    transform-origin: left;
    top:20px
}
.title-product{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.title-product h3{
 font-size: 34px;
 font-family: "Poppins-Regular";
 
}
.title-product h3 span{
    color: #868686;
    font-family: "Poppins-Regular";

}
/* ******* */
.main-product{
    padding: 39px 0px 23px 0px;
    /* opacity: 0; */

    /* transform: translateY(0); */
    
}
/* .seclect{
  
    display: none;
    transform: translateY(100%);
    transition: all 0.5s ease;

} */
.mani{
    opacity: 1;
}
.pro-item{
    margin-bottom: 35px;
    padding: 0 15px;
}
.product-thumnail{
    position: relative;
    margin-bottom: 6px;
}
.wishlist{
    position: absolute;
    top: 12px;
    right: 12px;
}
.wishlist .wisha{
    display: flex;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #ffff;
    justify-content: center;
    align-items: center;
}
.wishlist .wisha:hover svg{
    stroke: #ffff;
    transition: all 0.3s ease;
    
}
.wishlist .wisha:hover{
    background-color: #ff0000;;
    transition: all 0.3s ease;
}
.product-thumnail a{
    display: block;
    overflow: hidden;
    
}
.product-thumnail a img{    
    /* width: 100%; */
}
.product-thumnail::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.product-inner:hover .product-thumnail::before{
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;

}
.butons-select{
    position: absolute;
    z-index: 3;
    bottom: 53px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
}


.butont-quickview{
    position: relative;
    transform: translateX(80px);
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.butont-quickshop{
    position: relative;
    transform: translateX(-80px);
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
}
.pro-item:hover .butont-quickview{
    transform: translateX(-15px);
    transition: all 0.5s ease;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    

}
.pro-item:hover .butont-quickshop{
    transform: translateX(15px);
    transition: all 0.5s ease;
    opacity: 1;
    visibility: visible;
    cursor: pointer;
   

}
.product-title a:hover{
    color: #2aadc5;
    transition: all 0.3s ease;
}
.butons-select a{
    font-size: 12px;
    color: #000000;
    background-color: #fff;
    line-height: 36px;
    display: inline-block;
    vertical-align: top;
    min-width: 100px;
    height: 36px;
    border-radius: 18px;
    text-align: center;
    overflow: hidden;
    position: relative;
    font-family: "Poppins-Regular";
    text-decoration: none;
    z-index: 4;
    
}
.butons-select a .text{
    min-width: 100px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateY(0);
    transition: all 0.2s ease 0s;
} 
.butons-select a .eye-icon{
    min-width: 100px;
    height: 36px;
    color:#ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    background-color: #000000;
    transform: translateY(100%);
    transition: all 0.2s ease 0s;
}
.butons-select a:hover .text{
    transform: translateY(-100%);
    transition: all 0.2s ease 0s;
}
.butons-select a:hover .eye-icon{
    transform: translateY(0);
    transition: all 0.2s ease 0s;
}
.size{
    position: absolute;
    z-index: 3;
    bottom: 10px;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}
.list-size{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.list-size li{
    margin-right: 5px;
}
.list-size li a{
    font-family: "Poppins-Regular";
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.product-inner:hover .size{
 opacity: 1;
 visibility: visible;
 transition: all 0.5s ease;
}
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.product-title a{
    font-size: 14px ;
    color: #000000;
    font-family: "Poppins-Regular";
    text-decoration: none;
}
.pro-price{
    font-size: 14px;
    color: #868686;
}
.button-a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-a .all-shop {
    width: 153px;
    height: 43px;
    border: 1px solid #000000;
    background-color: #fff;
    transition: 0.3s all ease;
}
.all-shop span{
    font-size: 12px;
    font-family: "Poppins-Medium";
    color: #000000;
    text-transform: uppercase;
    transition: 0.3s all ease;
}
.button-a .all-shop:hover{
    background-color: #000000;
    border: 1px solid #ffff;
    transition: 0.3s all ease;

}
.button-a .all-shop:hover span{
    color: #fff;
    transition: 0.3s all ease;
}
/* .active{

    display: block;
    transform: translateY(0);
    transition: all 0.5s ease;
} */